<h1>Bulk Discounts for <%= @merchant.name %></h1>
<% @merchant.bulk_discounts.each do |discount| %>
  <div id="bulk-discount-<%=discount.id%>">
    <p><%= discount.percentage_discount%>% off <%=discount.quantity_threshold%> or more of an item</p>
    <p><%= link_to "View Bulk Discount", merchant_bulk_discount_path(@merchant, discount) %></p>
    <p><%= link_to "Delete discount",  merchant_bulk_discount_path(@merchant, discount), method: :delete %></p>
  </div>
<% end %>

<p><%= link_to "Create a new discount", new_merchant_bulk_discount_path(@merchant) %></p>
Three upcoming US holidays: 
<ul>
<% @holidays.each do |holiday| %>
  <li><%= holiday[:name] %> </li>
<% end %>
</ul>