<h1> Merchant show page</h1>

<h3><%=@merchant.name%></h3>

<p><%= link_to "Items Index", "/merchants/#{@merchant.id}/items"%></p>
<p><%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices"%></p>

<h3>Items Ready to Ship</h3>
<%@merchant.ready_to_ship.each do |item| %>
  <% item.invoice_items.each do|invoice_item| %>
<div id="item<%=item.id%>">
  <li><%= item.name %> || invoice#<%=link_to "#{invoice_item.invoice_id}","/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}" %></div>
                                              
  <%end %>
<%end %>
