<%= render partial: 'merchants/merchant_navbar'%>

<h1> <%=@item.name %> Page</h1>
<div id="item-<%=@item.id%>">
  <p>Description:<%= @item.description %></p>
  <p>Current Selling Price:$<%= convert_to_dollars(@item.unit_price) %></p>
  <p><%= link_to "update #{@item.name}", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %></p>
</div>
